.Container-Proyects{
    width: 100%;
    position: relative;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.Title-Projects{
    position: absolute;
    height: 30px;
    width: 100%;
    font-size: 3rem;
    font-family: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ligth);
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
    opacity: 0;
}

.Card-Projects-Box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: calc(100vh - 60px);
    max-height: fit-content ;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 90px;
    padding-bottom: 100px;
}

.Card-Projects-Box .Card-Project{
    width: 350px;
    height: 450px;
    transition: 0.3s;
    opacity: 0;
}

.Card-Projects-Box .Card-Project:hover {
    transform: scale(1.02);
box-shadow: rgba(6, 6, 13, 0.31) 0px 2px 5px -1px, rgba(0, 0, 0, 0.245) 0px 1px 3px -1px;
opacity: 1;
}

.Card-Project .Cont-Img{
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card-Project .Cont-Img .Card-Img{
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.Card-Project .Cont-Info{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    transition: 0.3s;
}

.Card-Project .Cont-Info .Card-Title {
    font-size: 1.5rem;
    font-family: var(--text);
    font-weight: 400;
    border-bottom: 1px inset transparent;
    border-radius: 0 0 10px 0;
    color:var(--ligth);
    height: 15%;
    width: fit-content;
    overflow: hidden;
}

.Card-Project:hover .Cont-Info .Card-Title {
    border-bottom: 1px inset var(--yellow);
    border-radius: 0 0 10px 0;    
}

.Card-Project .Cont-Info .Card-Text {
    font-size: 1rem;
    font-family: var(--text);
    font-weight: 100;
    color: var(--ligth);
    height: 55%;
    width: 100%;
    overflow: hidden;
}

.Card-Project .Cont-Info .Card-link {
    font-size: 0.8rem;
    font-family: var(--text);
    font-weight: 200;
    color: var(--yellow);
    height: 15%;
    width: 100%;
    overflow: hidden;
}
.Card-Projects-Box .Card-Project:hover .Cont-Info{
   padding: 0px 10px;

}











.fade-in .Container-Proyects .Title-Projects {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in .Container-Proyects .Card-Projects-Box .c1 {
animation: example 3s;
opacity: 0.8; 
}
.fade-in .Container-Proyects .Card-Projects-Box .c2 {
    animation: example 1s;
opacity: 0.8;
}
.fade-in .Container-Proyects .Card-Projects-Box .c3 {
animation: example 4s;
opacity: 0.8;
}
.fade-in .Container-Proyects .Card-Projects-Box .c4 {
    animation: example 2s;
opacity: 0.8;
}

.fade-in .Container-Proyects .Card-Projects-Box .c5 {
    animation: example 3s;
    opacity: 0.8;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-11 19:52:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
    0% {
        opacity: 0;
        top: 50%;
        /* -webkit-transform: translateY(0);
        transform: translateY(0); */
    }

    100% {
        opacity: 1;
        top: 75px;
        /* -webkit-transform: translateY(-440%);
        transform: translateY(-440%); */
    }
}

@keyframes slide-top {
    0% {
        opacity: 0;
        top: 50%;
        /* -webkit-transform: translateY(0);
        transform: translateY(0); */
    }

    100% {
        opacity: 1;
        top: 75px;
        /* -webkit-transform: translateY(-440%);
        transform: translateY(-440%); */
    }
}