*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {

    /* Color group */
    --ligth:rgb(255, 255, 255);
    --dark:rgb(42, 43, 46);
    --blue:rgb(0, 102, 255);
    --yellow:rgb(254, 190, 16);
    --hover: rgb(67, 68, 70)

    --text: 'Dosis', sans-serif;

}


body{
  background-color: var(--main);
}

@keyframes example {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.animated-element {
  animation: example 2s;
}

@keyframes example2 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animated-element2 {
  animation: example2 10s;
}

.typed-cursor {
  justify-self: end;
  padding-top: 5px;
  font-size: 3rem;
  font-family: var(--text);
  font-weight: 200;
  color: var(--ligth);
}