.Container-AboutMe{
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    padding-top: 60px;
     /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(67, 68, 70, 1) 34%, rgba(67, 68, 70, 0.75) 59%, rgba(238, 130, 238, 0) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(67, 68, 70, 1) 34%, rgba(67, 68, 70, 0.75) 59%, rgba(238, 130, 238, 0) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(67, 68, 70, 1) 34%, rgba(67, 68, 70, 0.75) 59%, rgba(238, 130, 238, 0) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EE82EE', endColorstr='#434446', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(67, 68, 70, 1) 34%, rgba(67, 68, 70, 0.75) 59%, rgba(238, 130, 238, 0) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(67, 68, 70, 1) 34%, rgba(67, 68, 70, 0.75) 59%, rgba(238, 130, 238, 0) 100%);
}

.Info-AboutMe{
    width: 100%;
    min-height: calc(100vh - 60px);
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutInfo{
    min-width: 60%;
    height: 80%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.AboutImg {
    min-width: 40%;
    height: 80%;
}

.Title-AboutMe{
    font-size: 3rem;
    font-family: var(--text);
    color: var(--ligth);
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
}

.Text-AboutMe{
    font-size: 1.2rem;
    font-family: var(--text);
    color: var(--ligth);
    font-weight: 400;
    letter-spacing: 2px;
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486); 
    rgb(34, 34, 37)*/
}

.Text-AboutMe span {
    transition: 0.4s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
}

.AboutInfo:hover .Text-AboutMe span {
    color: var(--blue);
    opacity: 0.8;
}

.nextlv{
    color: var(--yellow);
    opacity: 0.8;
}

.AboutInfo:hover .Text-AboutMe .nextlv {
    color: var(--yellow);
    opacity: 1;
}

.AboutImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Img-About{
    width: 60%;
    border-radius: 50%;
}


.fade-in .Container-AboutMe .Info-AboutMe .AboutInfo .Title-AboutMe{
-webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in .Container-AboutMe .Info-AboutMe .AboutImg .Img-About {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in .Container-AboutMe .Info-AboutMe .AboutInfo .Text-AboutMe {
    animation: example 3s;
}
 



@media screen and (max-width:550px) {
    .Info-AboutMe{
        flex-direction: column;
    }
    .AboutImg {
        padding-bottom: 30px;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2023-5-11 2:12:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2023-5-11 2:49:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}